name: coverage
on:
  push:
    branches:
    - main
permissions: {}
jobs:
  coverage:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.2.2
    - uses: actions/setup-go@a5f9b05d2d216f63e13859e0d847461041025775 # v5.6.0
      with:
        go-version: stable
    - name: Calculate coverage
      run: |
        go test -skip TestE2E -v -covermode=atomic -coverprofile=cover.out -coverpkg=./... ./...
    - name: Generage coverage badge
      uses: vladopajic/go-test-coverage@679e6807f68f2440a4c43d386442a1d0041838a9 # v2.18.3
      with:
        profile: cover.out
        local-prefix: github.com/${{ github.repository }}
        git-token: ${{ secrets.GITHUB_TOKEN }}
        # orphan branch for storing badges
        git-branch: badges
